#ifndef ${INC_GUARD}_H
# define ${INC_GUARD}_H

$[parent_include_self]
class ${CLASS_NAME}$[parent_include_trueName]
{
public:
	${CLASS_NAME}(void);
	~${CLASS_NAME}(void);
	${CLASS_NAME}(${CLASS_NAME} const &src);
	${CLASS_NAME}&	operator=(${CLASS_NAME} const &rhs);
protected:
private:
};

std::ostream&	operator<<(std::ostream& stream, ${CLASS_NAME} const &s);

#endif
